<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дз№6</title>
</head>
<style>
    .button__container.btn-primary{
        color: #020024;
    }

</style>
<body>
<div class="container button__container">
    <a href="/books/" class="btn btn-primary">Books</a>
<div>
    <ul>
        <li>
            <h2>{{ object.title }}</h2>
            <p> {{ object.description }}</p>
            <img src="{{ object.image.url }}" alt="">
            <p>{{ object.created_date }}</p>
        </li>
    </ul>
    <div class="expert">
        <h2>Expert</h2>
            {% for i in object.Expert_Recomendation.all %}
                <p>Эксперт: {{ i.expert.name }}</p>
                <p >Автобиография:{{ i.expert.info_about_expert }}</p>
                <p>Деятельность: {{ i.expert.job_expert }}</p>
                <p>Отзыв: {{ i.recomendation_book }}</p>
            {% endfor %}
    </div>
    <div>
        <h2>Comments:</h2>
        <ul>
            {% for i in object.books_comment.all %}
             <li>
                <p>{{ i.text }}</p>
                <p>{{ i.created_date }}</p>
             </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body body__button">
        <button type="button" class="btn btn-primary"><a href="/books/{{ object.id }}/update/">Change {{ object.title }}</a></button>
        <button type="button" class="btn btn-primary"><a href="/books/{{ object.id }}/delete/">Delete {{ object.title }}</a></button>
        <button type="button" class="btn btn-primary"><a href="/add-books/">Add new books</a></button>
    </div>
</div>
</body>
</html>