<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дз№3</title>
</head>
<style>
    .button__container.btn-primary{
        color: #020024;
    }

</style>
<body>
<div class="container button__container">
    <a href="/books/" class="btn btn-primary">Books</a>
<div>
    <ul>
        <li>
            <h2>{{ book.title }}</h2>
            <p> {{ book.description }}</p>
            <img src="{{ book.image.url }}" alt="">
            <p>{{ book.created_date }}</p>
        </li>
    </ul>
</div>
</body>
</html>